* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  color: #0f1920;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  padding: 0.5rem 1rem;
  background: #12232e;
  color: white !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
  font-family: "Lora", serif;
}

.btn:hover {
  color: #f7f7f7;
  background: #0b161d;
}

.btn-big {
  padding: 0.7rem 1.3rem;
  line-height: 1.3rem;
}

.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgrey;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1em;
  font-family: "Lora", serif;
}

.msg {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}

.success {
  color: rgb(39, 134, 39);
  border: 1px solid rgb(39, 134, 39);
  background: rgb(155, 248, 155);
}

.error {
  color: rgb(134, 39, 39);
  border: 1px solid rgb(134, 39, 39);
  background: rgb(248, 155, 155);
}

/* NAVBAR */

header {
  background: #12232e;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: "Roboto Slab", serif;
  color: #f6f6f6;
}

header .logo-text span {
  color: #4da8da;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Assumes that every nav element becomes horizontal */
header ul li {
  float: left;
  position: relative;
}

header ul li i {
  font-style: 0.8em;
}

/* Specifically goes to the second ul tag, for the drop down menu */
header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  left: 0px;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  color: #111111;
  background: white;
}

header ul li ul li a.Logout {
  color: red;
}

header ul li ul li a:hover {
  background: #d4d4d4;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
  transition: 0.5s;
}

header ul li a:hover {
  background-color: #0b151b;
  transition: 0.5s;
}

header ul li a:active {
  color: #4da8da;
}

header ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #4da8da;
  bottom: 0px;
  left: 0;
  transition: all 0.5s;
}

header ul li a:hover::after {
  width: 100%;
}

header .menu-toggle {
  display: none;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #3d627e;
}

/* Post slider */

.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 15%;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
  color: #203647;
}

.post-slider .prev {
  position: absolute;
  top: 15%;
  left: 30px;
  font-size: 2em;
  cursor: pointer;
  color: #203647;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0% auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 350px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  text-transform: none;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #b3b3b3;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5px 0px 5px;
}

.post-slider .post-wrapper .post .post-info .post-userDesc {
  font-size: 1em;
}

/* CONTENTS */

.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content.single {
  background: white;
  padding: 20px 50px;
  font-size: 1.1em;
  border-radius: 5px;
}

.content .main-content.single .post-title {
  text-align: center;
  margin-bottom: 10px;
}

.content .main-content .recent-post-title {
  margin: 20px;
}

.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}

.content .section-popular {
  background: white;
  padding: 10px;
  margin: 1px 0px 20px 5px;
  border-radius: 5px;
  border-top: 10px;
}

.content .section-popular .post {
  border-top: 1px solid grey;
  margin-top: 10px;
  padding-top: 10px;
}

.content .section-popular .post img {
  height: 60px;
  width: 80px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.content .main-content .post .read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #12232e;
  background: transparent;
  color: #12232e !important;
}

.content .main-content .post .read-more:hover {
  background: #12232e;
  color: #ffffff !important;
  transition: all 0.25s;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content .main-content.single .single-image {
  display: block;
  height: 50%;
  width: 100%;
  padding: 10px;
}

.content .main-content .post .post-preview {
  padding: 10px;
  width: 60%;
  float: right;
}

.content .sidebar {
  width: 30%;
  float: left;
}

.content .sidebar.single {
  padding: 0px 10px;
}

.content .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
  margin-top: 83px;
}

.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid lightgrey;
}

.content .sidebar .section.topics ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid lightgrey;
  transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
  padding-left: 15px;
  transition: all 0.3s;
}

/* AUTHENTICATION PAGE (REGISTER AND LOGIN)*/

.auth-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border: 5px;
}

.auth-content .form-title {
  text-align: center;
}

.auth-content form div {
  margin-bottom: 10px;
}

.auth-content form p {
  text-align: center;
}

.auth-content form p a {
  text-decoration: underline;
}

.auth-content form div input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 36px;
}

.auth-content form div input:hover {
  border-color: #478dff;
  background: #fff;
}

.auth-content form div input:focus {
  border-color: #478dff;
  background: #fff;
}

.auth-content form div button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: #478dff;
  transition: background-color 0.17s ease, color 0.17s ease;
}

.auth-content form div button:hover {
  background-color: #47a3ff;
}

.input-error {
    border-color: red !important;
}

/* FOOTER */

.footer {
  background: #232527;
  color: #f6f6f6;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 360px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}

.footer .footer-content .about h1 span {
  color: #4da8da;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  border: 1px solid grey;
  color: rgb(165, 165, 165);
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all 0.3s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all 0.3s;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: rgb(180, 180, 180);
  transition: all 0.3s;
}

.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all 0.3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #464646;
  color: #d3d2d2;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.9rem 1.4rem;
  border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
  background: #383838;
  transition: all 0.15s;
}

.footer .footer-content .contact-form .contact-btn {
  float: right;
  font-size: 1.1em;
  font-family: "Lora", serif;
}

.footer .footer-bottom {
  background: #333438;
  color: #686b6e;
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

/* MEDIA QUERIES (FOR THE WEBSITE'S RESPONSIVENESS 
WHEN VIEWED ON MOBILE DEVICES */

@media only screen and (max-width: 934px) {
  .content {
    width: 100%;
  }

  .content .main-content {
    width: 100%;
    padding: 10px;
  }

  .content .main-content .post {
    width: 100%;
  }

  .content .sidebar {
    width: 100%;
    padding: 10px;
  }

  .content .sidebar .section.search {
    margin-top: 30px;
  }

  .footer {
    height: auto;
  }

  .footer .footer-content {
    height: auto;
    flex-direction: column;
  }

  .footer .footer-content .contact-form {
    padding-bottom: 90px;
  }

  .footer .footer-content .contact-form .contact-btn {
    width: 100%;
  }

  .post-slider .next {
    top: 11%;
  }

  .post-slider .prev {
    top: 11%;
  }

  .auth-content {
    width: 50%;
  }
}

@media only screen and (max-width: 770px) {
  header {
    position: relative;
  }

  .main-content-wrapper {
    padding: 10px;
  }

  header ul {
    width: 100%;
    background: #152733;
    max-height: 0px;
    overflow: hidden;
  }

  .showing {
    max-height: 100em;
    transition: all 1s;
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    position: sticky;
    display: block;
    width: 100%;
  }

  header ul li ul li a {
    padding: 10px;
    color: white;
    background: #152733;
    padding-left: 50px;
  }

  header ul li ul li a:hover {
    background: #0d171f;
  }

  header ul li ul li a.Logout {
    color: red;
  }

  header ul li a::after {
    transition: all 0.5s;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
    cursor: pointer;
  }

  header .logo {
    margin-left: 0.8em;
  }

  .post-slider .next {
    top: 10%;
    right: 10px;
  }

  .post-slider .prev {
    top: 10%;
    left: 10px;
  }

  .auth-content {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .content .main-content .post {
    height: auto;
  }

  .content .main-content .post .post-image {
    width: 100%;
  }

  .content .main-content .post .post-preview {
    width: 100%;
  }

  .content .main-content .post .read-more {
    position: static;
    display: block;
    width: 100%;
  }

  .post-slider .next {
    top: 7%;
    right: 10px;
  }

  .post-slider .prev {
    top: 7%;
    left: 10px;
  }

  .content .main-content.single {
    padding: 10px 20px;
  }

  .auth-content {
    width: 90%;
  }
}
